:root{
  --highlight-color: #1234CC;
  --text-color: #000000;
  --background-color: #FFFFFF;
}

*{
    line-height: normal;
    margin-top: 0;
    margin-bottom: 0;
    margin: 0 0;
    padding-top: 0;
    padding-bottom: 0;
}

body {
    font-family: "SF Hello", Helvetica, Arial, sans-serif;
}

p {
    margin-top: 0px;
    margin-bottom: 0rem;
    line-height: 0px;
}

ul, ol {
	margin-top: 0;
	margin-bottom: 1rem;
}

ul ul, ol ol {
margin-bottom: 0;
}

li p {
	margin: 0;
}

/* h1 {
	font-size: 1.7rem;
	letter-spacing: -0.05rem;
	border-bottom: solid 1px #eee;
	text-transform: uppercase;
} */

h1 {
  font-size: 1.6rem;
  text-align: center;
  letter-spacing: -0.05rem;
  color: white;
  text-transform: uppercase;
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: rgba(0,0,0,0.8);
  border: 1px solid #fff;
  border-radius: 5px;
}

h2 {
	font-size: 1.5rem;
  border-bottom: solid 1px #eee;
  letter-spacing: -1px;
}

h3 {
	font-size: 1.3rem;
  font-weight: 600;
  /* letter-spacing: -1px; */
}

h4 {
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--highlight-color);
}
/*
h4::before {
	position: absolute;
	content: "";
	left: 0;
	top: 0;
	bottom: 0;
	width: 4px;
	border-radius: 2px;
	box-shadow:
		inset 0 1px 1px rgba(0,0,0,0.5),
		0 1px 1px rgba(255,255,255,0.3);
  background: var(--highlight-color);
}

h4 {
  padding: 0 0 0 10px;
  font-weight: 500;
}
*/
blockquote {
    padding-left: 1.875rem;
    background-color: #ddd;
    margin: 0 0 0 1.875rem;
    border-left: solid 2px #474d54;
    padding-left: 10px;
    /* margin-top: 35px; */
}

pre,
code,
kbd,
tt,
var {
    background: rgba(0, 0, 0, 0.05);
    /* font-size: 0.875rem; */
    font-family: monospace;
}

th {
  background: #ddd;
}

th,
td {
    border: solid 1px #474d54;
    padding: 2px;
}

/*** FANCY CODE HIGHLIGHTING ***/
/** ported from https://codemirror.net/theme/material.css **/
/*
    Name:       material
    Author:     Michael Kaminsky (http://github.com/mkaminsky11)
    Original material color scheme by Mattia Astorino (https://github.com/equinusocio/material-theme)
*/

.cm-s-inner {
  background-color: #263238;
  color: rgba(233, 237, 237, 1);
}
.cm-s-inner .CodeMirror-gutters {
  background: #263238;
  color: rgb(83,127,126);
  border: none;
}
.cm-s-inner .CodeMirror-guttermarker, .cm-s-inner .CodeMirror-guttermarker-subtle, .cm-s-inner .CodeMirror-linenumber { color: rgb(83,127,126); }
.cm-s-inner .CodeMirror-cursor { border-left: 1px solid #f8f8f0; }
.cm-s-inner div.CodeMirror-selected { background: rgba(255, 255, 255, 0.15); }
.cm-s-inner.CodeMirror-focused div.CodeMirror-selected { background: rgba(255, 255, 255, 0.10); }
.cm-s-inner .CodeMirror-line::selection, .cm-s-inner .CodeMirror-line > span::selection, .cm-s-inner .CodeMirror-line > span > span::selection { background: rgba(255, 255, 255, 0.10); }
.cm-s-inner .CodeMirror-line::-moz-selection, .cm-s-inner .CodeMirror-line > span::-moz-selection, .cm-s-inner .CodeMirror-line > span > span::-moz-selection { background: rgba(255, 255, 255, 0.10); }

.cm-s-inner .CodeMirror-activeline-background { background: rgba(0, 0, 0, 0); }
.cm-s-inner .cm-keyword { color: rgba(199, 146, 234, 1); }
.cm-s-inner .cm-operator { color: rgba(233, 237, 237, 1); }
.cm-s-inner .cm-variable-2 { color: #80CBC4; }
.cm-s-inner .cm-variable-3 { color: #82B1FF; }
.cm-s-inner .cm-builtin { color: #DECB6B; }
.cm-s-inner .cm-atom { color: #F77669; }
.cm-s-inner .cm-number { color: #F77669; }
.cm-s-inner .cm-def { color: rgba(233, 237, 237, 1); }
.cm-s-inner .cm-string { color: #C3E88D; }
.cm-s-inner .cm-string-2 { color: #80CBC4; }
.cm-s-inner .cm-comment { color: #546E7A; }
.cm-s-inner .cm-variable { color: #82B1FF; }
.cm-s-inner .cm-tag { color: #80CBC4; }
.cm-s-inner .cm-meta { color: #80CBC4; }
.cm-s-inner .cm-attribute { color: #FFCB6B; }
.cm-s-inner .cm-property { color: #80CBAE; }
.cm-s-inner .cm-qualifier { color: #DECB6B; }
.cm-s-inner .cm-variable-3 { color: #DECB6B; }
.cm-s-inner .cm-tag { color: rgba(255, 83, 112, 1); }
.cm-s-inner .cm-error {
  color: rgba(255, 255, 255, 1.0);
  background-color: #EC5F67;
}
.cm-s-inner .CodeMirror-matchingbracket {
  text-decoration: underline;
  color: white !important;
}

/**apply to code fences with plan text**/
.md-fences {
  background-color: #263238;
  /* color: rgba(233, 237, 237, 1); */
  border: none;
  font-family: monospace;
  margin-bottom: 0;
  padding-bottom: 0;
}

.md-fences .code-tooltip {
  background-color: #263238;
}
